.hero-image {
    height: 30%;
    background-position: center;
}

#elite-bases {
    max-width: 576px;
}

#navbar-example2 {
    padding-right: 0 !important;
    padding-bottom: 25px;
    padding-left: 0 !important;
    background-color: transparent !important;
}

#armor-nav, #weapons-nav, #shields-nav {
    color: white;
    border-radius: 0;
}

#armor-nav.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    text-shadow: 0 0 5px white;
    background-color: transparent;
    border-bottom: 10px solid #6A538D;
    transition: border .5s ease;
}

.armor-dropdown.active, .armor-dropdown:active {
    background-color: #6A538D;
}

#weapons-nav.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    text-shadow: 0 0 5px white;
    background-color: transparent;
    border-bottom: 10px solid #eca72c;
    transition: border .5s ease;
}

.weapons-dropdown.active, .weapons-dropdown:active {
    background-color: #eca72c;
}

#shields-nav.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    text-shadow: 0 0 5px white;
    background-color: transparent;
    border-bottom: 10px solid #ee5622;
    transition: border .5s ease;
}

.shields-dropdown.active, .shields-dropdown:active {
    background-color: #ee5622;
}

.armor {
    color: #6A538D;
}

.weapons {
    color: #eca72c;
}

.shields {
    color: #ee5622;
}

#elite-bases-details {
    position: relative;
    height: 575px;
    overflow-y: scroll;
    font-family: exocet, serif;
}

@media only screen and (max-width: 576px) {
    .hero-image {
        height: 15%;
        margin-bottom: 25px;
    }
}