.hero-image {
    height: 25%;
}

h2 {
    font-weight: bold;
}

#runes {
    text-align: center;
}

.rune {
    padding: 5px;
}

.btn-outline-secondary {
    border-radius: 0;
}

.btn img {
    height: 45px;
}

.btn-group>.btn:not(:first-child) {
    margin-top: -1px;
}

.btn-group>.btn:not(.dropdown-toggle) img {
    opacity: 50%;
}

.btn-check:checked+.btn-outline-secondary img {
    opacity: 100%;
}

.btn-check:checked+.btn-outline-secondary {
    background-color: transparent;
    border-color: white;
    box-shadow: 0 0 5px white;
}

#clear {
    height: 45px;
    line-height: 45px;
    width: 46.73px;
    font-family: exocet, serif;
    font-size: 1.5rem;
}

#select-all {
    height: 45px;
    line-height: 45px;
    width: 46.73px;
    font-family: exocet, serif;
}

.overlay3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.offcanvas {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #111;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

.offcanvas .closeOffcanvas {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.offcanvas a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.offcanvas a:hover {
    color: #f1f1f1;
}

.offCanvasWidth {
    width: 50%;
}

@media only screen and (max-width: 992px) {
    .offCanvasWidth {
        width: 75%;
    }
}

@media only screen and (max-width: 576px) {
    .offCanvasWidth {
        width: 100%;
    }
}