.hero-image {
    height: 30%;
    background-position: center;
}

#runes {
    text-align: center;
}

.rune {
    padding: 5px;
}

.btn-outline-secondary {
    border-radius: 0;
}

.btn img {
    height: 53px;
}

.btn-group>.btn:not(:first-child) {
    margin-top: -1px;
}

.btn-group>.btn:not(.dropdown-toggle) img {
    opacity: 50%;
}

.btn-check:checked+.btn-outline-secondary img {
    opacity: 100%;
}

.btn-check:checked+.btn-outline-secondary {
    background-color: transparent;
    border-color: white;
    box-shadow: 0 0 5px white;
}

#select-all-outline {
    width: 133px;
}

#select-all-btn {
    line-height: 53px;
    font-family: exocet, serif;
    font-size: 1rem;
}

#runewords-btns {
    width: 355px;
    text-align: center;
    padding-bottom: 50px;
}

#runewords-btns .col button {
    width: 100%;
    font-family: exocet, serif;
}

#save-btn:hover {
    background-color: transparent;
    color: white;
}

#save-btn:focus {
    background-color: transparent;
    transition: all 3s ease;
}

#save-btn:active {
    background-color: white;
    color: #000;
}

.overlay3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.offcanvas {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #111;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 50px;
}

.offcanvas .closeOffcanvas {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.offcanvas .closeOffcanvas:hover {
    color: #f1f1f1;
}

.offCanvasWidth {
    width: 60%;
}

#runewords-nav {
    margin-top: 25px;
}

#runewords-filter, #non-ladder {
    color: white;
    font-weight: bold;
}

#runewords-list {
    font-family: exocet, serif;
    padding: 12px;
}

#runewords-list h2 {
    color: #b4a372;
}

@media only screen and (max-width: 992px) {
    .offCanvasWidth {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .offCanvasWidth {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .hero-image {
        height: 15%;
        margin-bottom: 25px;
    }
    .btn img {
        height: 45px;
    }
    #select-all-outline {
        width: 116.6px;
    }
    #select-all-btn {
        line-height: 45px;
        font-size: .75rem;
    }
    #runewords-btns {
        width: 311px;
    }
    #runewords-btns {
        padding-bottom: 0;
    }
}